.header{
    background-color: #C0392B;
    padding: 15px;
}
    .header--title{
        color: white;
        text-shadow: 1px 1px 2px black;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
    }
    .header--title-bgwhite{
        color: #C0392B;
        background-color: white;
        border-radius: 5px;
    }
.serie{
    text-align: center;
}
    .serie--title{
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }
    .serie--genre{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        columns: #a9a9a9;
        display: block;
    }
    .serie--image{
        display: block;
        max-width: 328px;
        width: 20%; 
        height: 20%;
    }
    .serie--readmore{
        font-family: 'Roboto', sans-serif;
        color: white;
        background-color: #c0392b;
        text-decoration: none;
        display: block;
    }
    .serie-readmore:hover{
        background-color: #E74C3C;
    }
.footer{
    background-color: #EEEEEE;
    color: #c0392b;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
    .footer--image{
        width: 25px;
        height: 25px;
    }